# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

     - List popular languages for data science
     - List libraries commonly used by data scientists
     - List important tools used in data science

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. matplotlib
3. ggplot

|Data Science Tools|
|--------|
|Apache Hadoop|
|Git|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60

hours=200/60
print(hours)

3.3333333333333335

## Author
Rohan Agrawal